body {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
	background-color: #f7f7f7;
}

.spinner {
	height: 500px;
}

h2 {
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.card {
	border: 1px solid #ededed;
	margin-bottom: 30px;
	border-radius: 10px !important;
	height: 500px;
}

.header {
	padding: 1px;
	margin: 0px;
	text-align: center;
	background: #b4d791;
	font-size: 25px;
}

.button {
	background-color: #b4d791;
	border: 1px solid black;
	height: 40px;
	font-size: 16px;
	width: 10%;
	padding: 10px;
	margin-left: 5px;
	cursor: pointer;
}


#query {
	font-size: 20px;
	border: 1px solid black;
	height: 40px;
	padding: 19px;
	width: 80%;
	height: 15px;
}